<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="PasswordKeeperFrame">
		<title>Password Keeper 1.1</title>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK" variable="tbTabs" member="yes">
					<size>463,300</size>
					<handler function="OntbTabsPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="meMainMenu" member="no">
			<object class="wxMenu" variable="miFile" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuNew" variable="miNew" member="yes">
					<label>&amp;New</label>
					<accel>Ctrl+N</accel>
					<help>Create a new file</help>
					<handler function="OnmiNewSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuOpen" variable="miOpen" member="yes">
					<label>&amp;Open</label>
					<accel>Ctrl+O</accel>
					<help>Open a file</help>
					<handler function="OnmiOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="miSave" member="yes">
					<label>&amp;Save</label>
					<accel>Ctrl+S</accel>
					<help>Save current file</help>
					<handler function="OnmiSaveSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSaveAs" variable="miSaveAs" member="yes">
					<label>Save As...</label>
					<accel>Ctrl+Alt+S</accel>
					<help>Save current file with a different name</help>
					<handler function="OnmiSaveAsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuMerge" variable="miMerge" member="yes">
					<label>&amp;Merge With...</label>
					<accel>Ctrl+M</accel>
					<help>Merge current file with another</help>
					<handler function="OnmiMergeSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuClose" variable="miClose" member="yes">
					<label>&amp;Close</label>
					<accel>Ctrl+W</accel>
					<help>Close current file</help>
					<handler function="OnmiCloseSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuCloseAll" variable="miCloseAll" member="yes">
					<label>Close All</label>
					<accel>Ctrl+Alt+W</accel>
					<help>Close all files</help>
					<handler function="OnmiCloseAllSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="miQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="miRecord" member="yes">
				<label>&amp;Record</label>
				<object class="wxMenuItem" name="idMenuView" variable="miView" member="yes">
					<label>&amp;View...</label>
					<accel>Ctrl+I</accel>
					<help>View selected record</help>
					<handler function="OnmiViewSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuAdd" variable="miAdd" member="yes">
					<label>&amp;Add...</label>
					<accel>Ctrl+A</accel>
					<help>Add new record to current file</help>
					<handler function="OnmiAddSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuEdit" variable="miEdit" member="yes">
					<label>&amp;Edit...</label>
					<accel>Ctrl+E</accel>
					<help>Edit selected record</help>
					<handler function="OnmiEditSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuDelete" variable="miDelete" member="yes">
					<label>&amp;Delete</label>
					<accel>Ctrl+D</accel>
					<help>Delete selected record</help>
					<handler function="OnmiDeleteSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="miHelp" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="miAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR" variable="sbStatus" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxMenu" variable="puMenu" member="yes">
			<object class="wxMenuItem" name="idMenuViewP" variable="mpView" member="yes">
				<label>&amp;View...</label>
				<accel>Ctrl+I</accel>
				<help>View selected record</help>
				<handler function="OnmiViewSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuAddP" variable="mpAdd" member="yes">
				<label>&amp;Add...</label>
				<accel>Ctrl+A</accel>
				<help>Add new record to current file</help>
				<handler function="OnmiAddSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuEditP" variable="mpEdit" member="yes">
				<label>&amp;Edit...</label>
				<accel>Ctrl+E</accel>
				<help>Edit selected record</help>
				<handler function="OnmiEditSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuDeleteP" variable="mpDelete" member="yes">
				<label>&amp;Delete</label>
				<accel>Ctrl+D</accel>
				<help>Delete selected record</help>
				<handler function="OnmiDeleteSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
