<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="PasswordKeeperFrame">
		<title>Password Keeper 1.1</title>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK" variable="tbTabs" member="yes">
					<size>463,300</size>
					<handler function="OntbTabsPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="meMainMenu" member="no">
			<object class="wxMenu" variable="miAccount" member="no">
				<label>&amp;Account</label>
				<object class="wxMenuItem" name="idMenuSwitch" variable="miSwitch" member="yes">
					<label>S&amp;witch...</label>
					<accel>Ctrl+W</accel>
					<help>Switch account</help>
					<handler function="OnmiSwitchSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSynchronize" variable="miSync" member="yes">
					<label>S&amp;ynchronize...</label>
					<accel>Ctrl+Y</accel>
					<help>Synchronize account with server</help>
					<handler function="OnmiSyncSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuChange" variable="miChange" member="yes">
					<label>&amp;Change login/password</label>
					<help>Change login or password for this account</help>
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="miSave" member="yes">
					<label>&amp;Save locally</label>
					<accel>Ctrl+S</accel>
					<help>Save to local file</help>
					<handler function="OnmiSaveSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="miQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnmiQuitSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="miTab" member="no">
				<label>&amp;Tab</label>
				<object class="wxMenuItem" name="idMenuTabAdd" variable="miAddTab" member="yes">
					<label>&amp;Add...</label>
					<accel>Ctrl+T</accel>
					<help>Add new tab</help>
					<handler function="OnmiAddTabSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuTabRename" variable="miRenameTab" member="yes">
					<label>&amp;Rename...</label>
					<accel>Ctrl+R</accel>
					<help>Rename current tab</help>
					<handler function="OnmiRenameTabSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuTabDelete" variable="miDeleteTab" member="yes">
					<label>&amp;Delete</label>
					<help>Delete current tab with all records in it</help>
					<handler function="OnmiDeleteTabSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="miRecord" member="yes">
				<label>&amp;Record</label>
				<object class="wxMenuItem" name="idMenuView" variable="miView" member="yes">
					<label>&amp;View...</label>
					<accel>Ctrl+I</accel>
					<help>View selected record</help>
					<handler function="OnmiViewSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuAdd" variable="miAdd" member="yes">
					<label>&amp;Add...</label>
					<accel>Ctrl+A</accel>
					<help>Add new record to the current tab</help>
					<handler function="OnmiAddSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuEdit" variable="miEdit" member="yes">
					<label>&amp;Edit...</label>
					<accel>Ctrl+E</accel>
					<help>Edit selected record</help>
					<handler function="OnmiEditSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenu" name="idMenuMove" variable="miMove" member="yes">
					<label>&amp;Move</label>
					<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
						<label>New Menu</label>
					</object>
				</object>
				<object class="wxMenuItem" name="idMenuDelete" variable="miDelete" member="yes">
					<label>&amp;Delete</label>
					<accel>Delete</accel>
					<help>Delete selected records</help>
					<handler function="OnmiDeleteSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuCopyName" variable="miCopyName" member="yes">
					<label>Copy name</label>
					<help>Copy record&apos;s name to the clipboard</help>
					<handler function="OnmiCopyNameSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuCopyLogin" variable="miCopyLogin" member="yes">
					<label>Copy login</label>
					<help>Copy record&apos;s login to the clipboard</help>
					<handler function="OnmiCopyLoginSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuCopyEmail" variable="miCopyEmail" member="yes">
					<label>Copy email</label>
					<help>Copy record&apos;s email to the clipboard</help>
					<handler function="OnmiCopyEmailSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuCopyPass" variable="miCopyPass" member="yes">
					<label>Copy password</label>
					<help>Copy record&apos;s password to the clipboard</help>
					<handler function="OnmiCopyPassSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="miHelp" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="miAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnmiAboutSelected" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR" variable="sbStatus" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxMenu" variable="puListMenu" member="yes">
			<object class="wxMenuItem" name="idMenuViewP" variable="mpView" member="yes">
				<label>&amp;View...</label>
				<accel>Ctrl+I</accel>
				<help>View selected record</help>
				<handler function="OnmiViewSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuAddP" variable="mpAdd" member="yes">
				<label>&amp;Add...</label>
				<accel>Ctrl+A</accel>
				<help>Add new record to the current tab</help>
				<handler function="OnmiAddSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuEditP" variable="mpEdit" member="yes">
				<label>&amp;Edit...</label>
				<accel>Ctrl+E</accel>
				<help>Edit selected record</help>
				<handler function="OnmiEditSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenu" name="idMenuMoveP" variable="mpMove" member="yes">
				<label>&amp;Move</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
					<label>New Menu</label>
				</object>
			</object>
			<object class="wxMenuItem" name="idMenuDeleteP" variable="mpDelete" member="yes">
				<label>&amp;Delete</label>
				<help>Delete selected records</help>
				<handler function="OnmiDeleteSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuCopyNameP" variable="mpCopyName" member="yes">
				<label>Copy name</label>
				<help>Copy record&apos;s name to the clipboard</help>
				<handler function="OnmiCopyNameSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuCopyLoginP" variable="mpCopyLogin" member="yes">
				<label>Copy login</label>
				<help>Copy record&apos;s login to the clipboard</help>
				<handler function="OnmiCopyLoginSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuCopyEmailP" variable="mpCopyEmail" member="yes">
				<label>Copy email</label>
				<help>Copy record&apos;s email to the clipboard</help>
				<handler function="OnmiCopyEmailSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuCopyPassP" variable="mpCopyPass" member="yes">
				<label>Copy password</label>
				<help>Copy record&apos;s password to the clipboard</help>
				<handler function="OnmiCopyPassSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="puTabMenu" member="yes">
			<object class="wxMenuItem" name="idTabAddP" variable="mpTabAdd" member="yes">
				<label>&amp;Add...</label>
				<accel>Ctrl+T</accel>
				<handler function="OnmiAddTabSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idTabRenameP" variable="mpTabRename" member="yes">
				<label>&amp;Rename...</label>
				<accel>Ctrl+R</accel>
				<handler function="OnmiRenameTabSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idTabDeleteP" variable="mpTabDelete" member="yes">
				<label>&amp;Delete</label>
				<handler function="OnmiDeleteTabSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
